<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{auth.reset.title}">Password Reset</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body class="container mt-5">

<div th:replace="~{fragments/nav-bar :: nav-bar-fragment}"></div>
<div id="alerts-container"></div>

<div class="row justify-content-center">
    <div class="col-md-6 border p-4 bg-light shadow-sm">

        <div th:if="${error != null}" class="text-center">
            <div class="alert alert-danger" th:text="${error}"></div>
            <p th:text="#{auth.reset.request_new}">Please try to request a new reset link.</p>
            <a href="/auth/sign-in" class="btn btn-primary" th:text="#{auth.reset.back_login}">Back to Login</a>
        </div>

        <div th:fragment="reset-password-final"
             id="reset-container">

            <h3 th:text="#{auth.reset.create_new}">Create New Password</h3>
            <p class="text-muted" th:text="#{auth.reset.hint}">Please enter a strong password to secure your account.</p>

            <form hx-post="/auth/reset-password/confirm"
                  hx-target="#reset-container"
                  hx-swap="outerHTML"
                  th:object="${resetPasswordRequest}">

                <input type="hidden" th:field="*{token}">

                <div class="form-group">
                    <label th:text="#{auth.reset.new_pass}">New Password</label>
                    <input type="password"
                           th:field="*{newPassword}"
                           class="form-control"
                           th:classappend="${#fields.hasErrors('newPassword')} ? 'is-invalid'"
                           th:placeholder="#{auth.reset.placeholder_min}">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></div>
                </div>

                <div class="form-group">
                    <label th:text="#{auth.reset.confirm_pass}">Confirm Password</label>
                    <input type="password" class="form-control"
                           th:placeholder="#{auth.reset.placeholder_repeat}"
                           required>
                </div>

                <button type="submit" class="btn btn-success btn-block" th:text="#{auth.reset.btn_update}">
                    Update Password & Logout
                </button>
            </form>
        </div>

    </div>
</div>
<script src="https://unpkg.com/htmx.org@1.9.10"></script>
<script th:src="@{/js/script.js}"></script>
</body>
</html>